{% load static %}
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 single-footer-widget">
                <h4>Top Courses</h4>
                <ul>
                    <li><a href="#">Data Sciense</a></li>
                    <li><a href="#">Business Analytics</a></li>
                    <li><a href="#">Full Stack</a></li>
                    <li><a href="#">Mobile Development</a></li>
                    <li><a href="#">Graphics Design</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Top Learning Centers</h4>
                <ul>
                    <li><a href="#">U Study</a></li>
                    <li><a href="#">MohirDev</a></li>
                    <li><a href="#">Nojot Talim</a></li>
                    <li><a href="#">CambridgeLC</a></li>
                    <li><a href="#">InterNational LC</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Programming Courses</a></li>
                    <li><a href="#">Foreign Language LC</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>For News</h4>
                <p>You can trust us. we only send promo offers,</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank"
                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get" class="form-inline">
                        <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                               required="" type="email">
                        <button class="click-btn btn btn-default text-uppercase">subscribe</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-md-12 footer-social">
                <a href="https://t.me/AbdulazizAlimov"><i class="fa fa-telegram"></i></a>
                <a href="https://www.youtube.com/@python-ai-uz"><i class="fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/abdulaziz__olimov_/"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/abdulazizDevop"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
