attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
coloredlogs==15.0.1
Django==5.1.2
django-active-link==0.2.2
django-js-asset==2.2.0
fasteners==0.19
frozenlist==1.4.1
humanfriendly==10.0
idna==3.10
magic-filter==1.0.12
multidict==6.1.0
pillow==11.0.0
propcache==0.2.0
property-manager==3.0
psycopg2==2.9.9
pydantic==2.9.2
pydantic_core==2.23.4
pyreadline3==3.5.4
python-gettext==5.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
verboselogs==1.7
yarl==1.15.4
